<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIconName</key>
	<string>AppIcon
AppIcon
AppIcon
AppIcon</string>
	<key>Privacy - NSFaceIDUsageDescription</key>
	<string>Confirm ID to keep your app secure from unauthorized use and access.</string>
	<key>NSCameraUsageDescription</key>
	<string>Access needed to scan QR codes to send and receive Bitcoin payments.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Split needs local network access to connect to your Lightning node over your LAN, .local hostname, private VPN, or Tor configuration.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Split uses your location to show nearby bitcoin-accepting merchants on the BTC merchant map.</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>onion</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>SplitBaseScheme</key>
	<string>$(BASE_SCHEME)</string>
	<key>SplitBaseHost</key>
	<string>$(BASE_HOST)</string>
	<key>SplitMessagingPushEnvironment</key>
	<string>$(MESSAGING_PUSH_ENV)</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
</dict>
</plist>
